.wrap {
    height: 900px;
    width: 400px;
    border: 1px black solid;
}

.width {
    border: 1px black solid;
    margin-bottom: 60px;
}

.logo {
    height: 50px;
    width: 150px;
    margin-top: 50px;
    margin-left : 20px;
    margin-bottom : 50px;
}

.button-list {
    display: flex;
    flex-direction: column; 
    gap: 80px;
}

.item {
    font-size: 25px;
    width: 180px;
    background-color: rgb(88,88,88);
    border: none;
}

.item:hover {
    background-color: white;
}
